.stats {
  @media (min-width: 768px) {
    margin: 0 0 98px 0;
    display: flex;
    justify-content: space-between;
  }
}

.statsContainer {
  width: 280px;
  margin: 0 auto 22px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  @media (min-width: 768px) {
    width: 328px;
    margin: 0;
  }
}

.item {
  width: 124px;
}

.value {
  border: 1px solid red;
  padding: 20px;
  text-align: center;
  font-family: "Oswald", Arial, sans-serif;
  font-size: 24px;
  line-height: 24px;
  color: #000000;
  @media (min-width: 768px) {
    padding: 15px 0 19px 0;
    margin: 0;
    width: 160px;
    font-size: 30px;
    line-height: 37px;
    text-align: center;
  }
}

.title {
  width: 80px;
  background-color: #eaeaea;
  padding: 0 10px;
  text-align: center;
  margin: -12px auto 0;
  font-family: "Lato", Arial, sans-serif;
  font-size: 12px;
  line-height: 100%;
  color: #444444;

  @media (min-width: 768px) {
    font-size: 13px;
    line-height: 14px;
    width: 135px;
  }
}

.text {
  text-transform: uppercase;
  color: #000000;
  font-family: "Oswald", Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  margin: 0 auto;
  @media (min-width: 768px) {
    padding-top: 17px;
    margin: 0;
    text-align: right;
    font-size: 20px;
    text-transform: uppercase;
    width: 200px;
  }
}

.text span {
  @media (min-width: 768px) {
    display: block;
    &:not(:last-child){
      margin-bottom: 8px;
    }
  }
}

.image {
  border: 1px solid red;
  width: 280px;
  height: 256px;
}
