.welcome {
  text-align: center;
  margin-bottom: 20px;
  @media (min-width: 768px) {
    text-align: left;
    width: 709px;
    margin: 0 auto;
    padding-bottom: 524px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 709px;
      height: 609px;
      background: url("../../assets/images/welcome-can_tablet.jpg") no-repeat 0
        0;
      z-index: -1;
    }
  }
}

.container {
  @media (min-width: 768px) {
    padding: 51px 91px 0;
  }
}

.block {
  padding-bottom: 135px;
  position: relative;
  margin-bottom: 4px;
  &::after {
    content: "";
    width: 280px;
    height: 270px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background: url("../../assets/images/can-mobile.png") no-repeat 0 0;
    z-index: 5;
  }
  @media (min-width: 768px) {
    margin: 0;
    padding: 0;

    &::after {
      display: none;
    }
  }
}

.wrapper {
  padding-top: 27px;
  padding-bottom: 168px;
  background: #4b4a50 url("../../assets/images/cat-background-mobile.jpg")
    no-repeat center 0;
  background-size: auto 100%;
  position: relative;

  &::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: var(--thema);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.85;
    z-index: 1;
  }
  @media (min-width: 768px) {
    margin: 0;
    padding: 0;
    background: none;
    &::before {
      display: none;
    }
  }
}

.title {
  padding: 0;
  margin: 0 auto 20px;
  font-family: "Oswald", Arial, sans-serif;
  font-size: 36px;
  color: #ffffff;
  line-height: 36px;
  width: 300px;
  position: relative;
  z-index: 3;
  @media (min-width: 768px) {
    font-size: 60px;
    line-height: 60px;
    width: auto;
    margin-bottom: 40px;
    padding: 0;
    color: #000000;
  }
}

.slogan {
  padding: 0;
  margin: 0 auto;
  width: 300px;
  font-family: "Oswald", Arial, sans-serif;
  font-size: 14px;
  color: #ffffff;
  line-height: 14px;
  text-transform: uppercase;
  position: relative;
  z-index: 3;

  @media (min-width: 768px) {
    width: auto;
    font-size: 20px;
    line-height: 20px;
    color: #000000;
    margin: 0 0 50px 0;
    padding: 0;
  }
}

.link {
  display: block;
  margin: 0 20px;
  padding: 13px;
  font-family: "Oswald", Arial, sans-serif;
  font-size: 14px;
  color: #ffffff;
  line-height: 14px;
  text-transform: uppercase;
  text-decoration: none;
  background-color: var(--thema);
  text-align: center;

  @media (min-width: 768px) {
    margin: 0;
    padding: 14px 26px;
    font-size: 20px;
    line-height: 26px;
    display: inline-block;
  }
}
