.title {
  position: relative;
  font-family: "Oswald", Arial, sans-serif;
  font-size: 24px;
  line-height: 24px;
  color: #000000;
  margin: 0;
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    border-top: 3px solid var(--thema);
    top: 10px;
    left: 0;
    z-index: 1;
  }

  @media (min-width: 768px) {
    font-size: 32px;
    line-height: 32px;
    padding-left: 30px;
  }
  @media (min-width: 1440px) {
    padding: 0;
  }
}

.wrapper {
  @media (min-width: 1440px) {
    display: block;
    width: 1220px;
    margin: 0 auto;
  }
}

.text {
  position: relative;
  z-index: 5;
  display: inline-block;
  padding: 0 40px 0 20px;
  background: #ffffff;
  @media (min-width: 768px) {
  }
  @media (min-width: 1440px) {
    margin-left: -30px;
  }
}
