.more {
  padding-top: 50px;
  background: url("../../assets/images/taste/plus.svg") no-repeat center 20px;
  text-align: center;
  padding-top: 59px;
  border-top: 1px solid red;
  padding-bottom: 30px;
}

.title {
  font-family: "Oswald", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #111111;
}

.text {
  font-family: "Lato", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #444444;
}

.productOrder {
  font-family: "Oswald", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  background-color: #f2f2f2;
  color: #444444;
  text-decoration: none;
  display: block;
  padding: 10px 5px;
  box-sizing: border-box;
}
