.details{
    width: 287px;
    margin: 0 auto;
}


.card{
    list-style: none;
}


.title {
  font-family: "Oswald", Arial, Helvetica, sans-serif;
  font-size: 36px;
  line-height: 36px;
}

.productContent{
    
}
